<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Python and socket io</title>
</head>
<body>

  <h1>Python & socketio</h1>

  <ul id="messages"></ul>
  <input id="myMessage" type="text">
  <button type="button" id="send">Send</button>

  <!-- JQuery -->
  <script src="./jquery-2.2.4.min.js"></script>
  <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->

  <!-- direccion for the file .js https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js-->
  <script src="./socket.io.js", charset="utf-8"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>-->
  <script>
    const socket = io();

    // enviando el mensage al iniciar la pagina
    // socket.emit('message', 'hello');

    // recibiendo los datos y mostrandolos en el html, atravez de las etiquetas ul y agregamos
    // las etiquetas <li></li>
    socket.on('message', function (msg) {
      // adding the elements
      $('#messages').append('<li>' + msg + '</li>')
    });

    $('#send').on('click', function () {
      // console.log($('#myMessage').val());
      // getting the value of the input and send at the server
      socket.send($('#myMessage').val());
      // cleaning the input
      $('#myMessage').val('');

    });

  </script>
  
</body>
</html>
